body {
    padding: 0;
    margin: 0;
    background: #3e32af;
  }
  .navbar {
    background:#eefa42;
  }
  .nav-link,
  .navbar-brand {
    color: #3e32af;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
    color: #3e32af;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .header {
    background-image: url('https://wallpapercave.com/wp/wp4850088.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color: #e9fd35;
  }
  .description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  h3 {
      color: #fff;
  }
  p {
      color: #fff;
  }